# auth-service/src/main/resources/application.yml
server:
  port: 8083

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3306/enadzornik?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: enadzornik
    password: enadzornik
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  web:
    cors:
      allowed-origins: "*"
logging:
  level:
    rs.enadzornik: DEBUG